@font-face {
    font-family: "FuturaPT-Heavy"; 
    src: url("./FuturaPT-Heavy.ttf") format("truetype"); 
}

@font-face {
    font-family: "FuturaPT-Medium"; 
    src: url("./FuturaPT-Medium.ttf") format("truetype"); 
}

@font-face {
    font-family: "futura-pt-book";
    src: url("./futura-pt-book.ttf");
}

@font-face {
    font-family: "futura-pt-demi";
    src: url("./futura-pt-demi.ttf");
}