@import "node_modules/bootstrap/scss/mixins/_breakpoints";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.display-goods {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 80% 20%;
    // @include media-breakpoint-down(lg) { 
    //     grid-template-columns: auto auto auto auto;
    // }
    // @include media-breakpoint-down(md) { 
    //     grid-template-columns: auto auto auto;
    // }
    // @include media-breakpoint-down(xs) { 
    //     grid-template-columns: auto auto;
    // }

    .goods-table_wr {
        background-color: orange;
    }
    .goods-filter_wr {
        background-color: lightgreen;
    }
}