@import "./fonts/fonts.scss";

body {
    background-color: #f5f5f5;
}

.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

#root {
    height: 100vh;
}

.b-white {
    background-color: white;
}
