.add-new-gooods {
    background-color: lightblue;
    height: 100%;

    .left-column {
        // height: 92.5vh;
        // height: 100vh;
        // height: 100%;
        background-color: lightgray;
    }
    .right-column {
        // height: 100%;
        background-color: lightsteelblue;
    }
    
}
